<!DOCTYPE html>
<html>
  
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{{ header|safe }}

<div class="container">
  
    <div class="row">
        <!--center the text-->
        <div class="col">
            <h1 class="text-center">Article of the Day</h1>
            <br><br>
        </div>
    </div>
    <div class="row">
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in text %}
                <p>{{paragraph}}</p>
            {% endfor %}
        </div>
        <!--make the background dark grey and all the text off-white-->
        <div class="col-4" style="background-color: #343a40; color: #f8f9fa;">
            <!-- word list here-->
            <h3>Vocabulary</h3>
        </div>
  </div>
</div>
    

  </body>
</html>

