<!DOCTYPE html>
<html>
  
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{{ header|safe }}

<div class="container">
  
    <div class="row">
        <!--center the text-->
        <div class="col">
            <h1 class="text-center">Step 1: Read the Article</h1>
            <br><br>
        </div>
    </div>
    <div class="row">
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in paragraphs %}
                <p id="{{paragraph.tag}}"">{{paragraph.text | safe}}</p>
            {% endfor %}
        </div>
        <!--make the background dark grey and all the text off-white-->
        <div class="col-4" style="background-color: #343a40; color: #f8f9fa;">
            <!-- word list here-->
            <h3>Vocabulary</h3>
        </div>
    </div>
    <div class="row">
        <!--center the text-->
        <div class="col">
            <div class="d-grid gap-2">
                <br><br>
                <button class="btn btn-primary" type="button">Review Vocabulary</button>
                <br><br>
            </div>
        </div>
    </div>
</div>

<script>

    //Create an event listener for a span object with id "w1"
    document.getElementById("w1").addEventListener("click", function() {
        //Change the text color of the span object to red
        document.getElementById("w1").style.color = "red";
    });

</script>
    

  </body>
</html>

