<!DOCTYPE html>
<html>
  
{{ header|safe }}

<div class="container">
  
    <div class="row">
        <!--center the text-->
        <div class="col">
            <h1 class="text-center" id="page_title">Step 1: Read the Article</h1>
            <br><br>
        </div>
    </div>
    <div id="article" class="row">
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in paragraphs %}
                <p id="{{paragraph.tag}}"">{{paragraph.text | safe}}</p>
            {% endfor %}
        </div>
        <!--make the background dark grey and all the text off-white-->
        <div class="col-4" style="background-color: #343a40; color: #f8f9fa;">
            <!-- word list here-->
            <h3>Vocabulary</h3>
            <br>
            <span id="wordlist"></span>
        </div>
    </div>
    <div id="article_reread" class="row" hidden>
        <div class="col-2"></div>
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in paragraphs %}
                <p id="{{paragraph.tag}}"">{{paragraph.text | safe}}</p>
            {% endfor %}
        </div>
        <div class="col-2"></div>
    </div>
    <div id="review_vocab" class="row" hidden>
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="vocabulary_list">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div id="test_vocab" class="row" hidden>
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="test_list">
            <p><h4>Instructions</h4></p>
            <p>For each word, type the translation in the box below. If you get it right, the text will turn green.</p>
            <p>Once you translate all of the words correctly, you will automatically proceed to the next page.</p>
            <p>Click the button below to review the vocabulary again.</p>	
            
        </div>
        <div class="col-3"></div>
    </div>
    <div id="test_article" class="row" hidden>
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="review_questions">
            {% for question in questions %}
                <p><h4>{{question.question}}</h4></p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option1_question{{question.index}}" name="question{{question.index}}" value="1" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option2_question{{question.index}}" name="question{{question.index}}" value="2" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option3_question{{question.index}}" name="question{{question.index}}" value="3" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option4_question{{question.index}}" name="question{{question.index}}" value="4" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option4}}
                    </label>
                </div>                                
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <!--center the text-->
        <div class="col">
            <div class="d-grid gap-2">
                <br><br>
                <button class="btn btn-primary" type="button" id="submit_button" onclick="submit_vocabulary()">Review Vocabulary</button>
                <br><br>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button id="completionModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CompletionModal" hidden>
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="completionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="completionModalLabel">Congratulations!</h1>
        </div>
        <div class="modal-body" id="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" href="/">Return Home</a>
        </div>
      </div>
    </div>
  </div>

<script>

    function pad(num) {
        return num < 10 ? '0' : '' + num;
    }

    function getNewYorkISODateString() {
        // Get the current date in UTC
        const now = new Date();

        // Create a new date in the New York time zone
        const options = { timeZone: 'America/New_York', hour12: false };
        const newYorkDate = new Date(now.toLocaleString('en-US', options));

        // Calculate the time zone offset
        const offset = -newYorkDate.getTimezoneOffset();
        const sign = offset >= 0 ? '+' : '-';
        const hours = pad(Math.floor(Math.abs(offset) / 60));
        const minutes = pad(Math.abs(offset) % 60);

        // Construct the ISO 8601 string
        const isoString = newYorkDate.getFullYear() +
            '-' + pad(newYorkDate.getMonth() + 1) +
            '-' + pad(newYorkDate.getDate()) +
            'T' + pad(newYorkDate.getHours()) +
            ':' + pad(newYorkDate.getMinutes()) +
            ':' + pad(newYorkDate.getSeconds()) +
            sign + hours + ':' + minutes;

        return isoString;
    }

    //Create a global variable to store the vocabulary words and sentences
    var vocabulary = [];
    var translated_vocabulary = [];

    console.log(vocabulary);
    console.log(translated_vocabulary);

    function vocabulary_list() {
        //Hide everything except the vocabulary list
        document.getElementById("article").hidden = true;
        document.getElementById("review_vocab").hidden = false;
        document.getElementById("test_vocab").hidden = true;
        document.getElementById("article_reread").hidden = true;
        //Change the title of the page
        document.getElementById("page_title").innerHTML = "Step 2: Review Vocabulary";
        //Update button
        document.getElementById("submit_button").innerHTML = "Complete Review!";
        document.getElementById("submit_button").setAttribute("onclick", "test_vocabulary()");

        //Clear the vocabulary_list div
        document.getElementById("vocabulary_list").innerHTML = "";

        //For each item in the list, create a span object
        for (var i = 0; i < translated_vocabulary.length; i++) {
            var word = document.createElement("span");
            //The elements to add are word, base, translation, and example
            word.innerHTML = "<p><h5>Word: " + translated_vocabulary[i].word + "</h5></p>"
            word.innerHTML += "<p>Base Form: " + translated_vocabulary[i].base + "</p>"
            word.innerHTML += "<p>Translation: " + translated_vocabulary[i].translation + "</p>"
            word.innerHTML += "<p>Example: " + translated_vocabulary[i].example + "</p>"
            //Add example_translation
            word.innerHTML += "<p>Example Translation: " + translated_vocabulary[i].example_translation + "</p>"
            //Now add a break
            word.innerHTML += "<br>"
            word.id = translated_vocabulary[i].word;
            document.getElementById("vocabulary_list").appendChild(word);
        }
        //Bring the user to the top of the page
        window.scrollTo(0, 0);
    }


    //Create the submit_vocabulary function
    function submit_vocabulary() {
        console.log(vocabulary);
        console.log(translated_vocabulary);
        //First make the button load
        document.getElementById("submit_button").innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...";

        //Send the vocabulary list to the server with an AJAX request
        //The url is /submit_vocabulary
        //The data is the vocabulary list
        //The method is POST
        //The success function is the function below
        $.ajax({
            url: "/submit_vocabulary/",
            data: JSON.stringify(vocabulary),
            type: "POST",
            contentType: "application/json",
            //Set a header
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(response) {
                //Log the response to the console
                console.log(response);
                translated_vocabulary = response;
                vocabulary_list();
            }
            //If there is an error, print the error to the console
        }).fail(function() {
            console.log("Error submitting vocabulary");
        });
    }

    function test_vocabulary() {
        //If the vocabulary list is empty run the reread function
        if (translated_vocabulary.length == 0) {
            reread();
        } else {
            document.getElementById("review_vocab").hidden = true;
            //Change the title of the page
            document.getElementById("page_title").innerHTML = "Step 3: Test Vocabulary";
            //Update button
            document.getElementById("submit_button").innerHTML = "Review Again!";
            document.getElementById("submit_button").setAttribute("onclick", "vocabulary_list()");

            //Clear the test_list div
            document.getElementById("test_list").innerHTML = "";

            //For each item in the list write the word and put a text box below it
            for (var i = 0; i < translated_vocabulary.length; i++) {
                var word = document.createElement("span");
                word.innerHTML = "<h5>" + translated_vocabulary[i].base + "</h5>";
                var input = document.createElement("input");
                input.type = "text";
                input.id = "testword_" + i.toString();
                input.placeholder = "Enter the translation here";
                document.getElementById("test_list").appendChild(word);
                document.getElementById("test_list").appendChild(input);
                //Add a listener to the input
                input.addEventListener("input", function() {
                    //Get the value of the input
                    var value = document.getElementById(this.id).value;
                    //Get the index of the input
                    var index = parseInt(this.id.split("_")[1]);
                    //If the value is equal to the translation, change the color to green
                    if (value == translated_vocabulary[index].translation) {
                        document.getElementById(this.id).style.color = "green";
                    } else {
                        document.getElementById(this.id).style.color = "red";
                    }
                });
            }
            //Add an event listener to the "test_list" div
            //Once the user has translated all of the words correctly, we will execute the reread function
            document.getElementById("test_list").addEventListener("input", function() {
                //Create a variable to store the number of correct translations
                var correct = 0;
                //For each item in the list, check if the translation is correct
                for (var i = 0; i < translated_vocabulary.length; i++) {
                    //Get the value of the input
                    var value = document.getElementById("testword_" + i.toString()).value;
                    //If the value is equal to the translation, increment the correct variable
                    if (value == translated_vocabulary[i].translation) {
                        correct++;
                    }
                }
                //If the number of correct translations is equal to the length of the list, execute the reread function
                if (correct == translated_vocabulary.length) {
                    reread();
                }
            });
            document.getElementById("test_vocab").hidden = false;
            //Bring the user to the top of the page
            window.scrollTo(0, 0);
        }
    }

    function reread() {
        //Change the title to Step 4: Reread the Article
        document.getElementById("page_title").innerHTML = "Step 4: Reread the Article";
        //Hide the test_vocab div
        document.getElementById("test_vocab").hidden = true;
        //Show the article div
        document.getElementById("article_reread").hidden = false;
        //Update the button
        document.getElementById("submit_button").innerHTML = "Proceed to test!";
        document.getElementById("submit_button").setAttribute("onclick", "test_article()");
    }

    function test_article() {
        //Hide the article_reread div
        document.getElementById("article_reread").hidden = true;
        //Change the title to Step 5: Test Yourself
        document.getElementById("page_title").innerHTML = "Step 5: Test Reading Comprehension";
        //Show the test_article div
        document.getElementById("test_article").hidden = false;
        //Update the button
        document.getElementById("submit_button").innerHTML = "Submit Answers";
        document.getElementById("submit_button").setAttribute("onclick", "submit_answers()");
    }

    function submit_answers() {
        //List all the correct answers
        correct_answers = [];
        {% for question in questions %}
            correct_answers.push("{{question.correct_answer}}");
        {% endfor %}
        //Convert the correct answers to integers
        for (var i = 0; i < correct_answers.length; i++) {
            correct_answers[i] = parseInt(correct_answers[i]);
        }
        //Get the selected answers
        var answers = document.getElementById("review_questions")
        var selected_answers = [];
        for (var i = 0; i < answers.children.length; i++) {
            var children = answers.children[i].children;
            for (var j = 0; j < children.length; j++) {
                if (children[j].tagName == "INPUT") {
                    if (children[j].checked) {
                        selected_answers.push(parseInt(children[j].value));
                    }
                }
            }
        }
        //Iterate through the selected answers and check if they are correct
        for (var i = 0; i < selected_answers.length; i++) {
            if (selected_answers[i] != correct_answers[i]) {
                //If the answer is incorrect, change the color to red
                document.getElementById("option" + selected_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "red";
                //Change the color of the correct answer to green
                document.getElementById("option" + correct_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "green";
            } else {
                //If the answer is correct, change the color to green
                document.getElementById("option" + selected_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "green";
            }
        }
        //Update the modal
        var modal_body = "<p>You have completed the exercise!</p><br>";
        modal_body += "<p>You received 10 points for completing the exercise and ";
        //You get 2 points for each correct answer
        var score = 0;
        for (var i = 0; i < selected_answers.length; i++) {
            if (selected_answers[i] == correct_answers[i]) {
                score += 2;
            }
        }
        modal_body += score.toString() + " points for answering ";
        //Just divide the score by 2 to get the number of correct answers
        modal_body += (score / 2).toString() + " questions correctly.</p><br>";
        //var to store the total number of points
        var total_points;

        //Create an XHR request to submit the score to the url /add_points/
        $.ajax({
            url: "/add_points/",
            data: JSON.stringify({points: score+10}),
            type: "POST",
            contentType: "application/json",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(response) {
                console.log(response);
                total_points = response;
                //You now have a total of 
                modal_body += "<p>You now have a total of " + total_points + " points.</p><br>";

                //Now the thing about going back to the home page
                modal_body += "<p>Click the button below to return to the home page.</p>";
                document.getElementById("modal-body").innerHTML = modal_body;
                //Set the localstorage value of last_article_date to today
                localStorage.setItem("last_article_date", getNewYorkISODateString());
                //Show the modal
                var modal = new bootstrap.Modal(document.getElementById('completionModal'), {
                    keyboard: false
                });
                modal.show();
                //Change the button to return home
                document.getElementById("submit_button").innerHTML = "Return Home";
                document.getElementById("submit_button").setAttribute("onclick", "window.location.href = '/'");
            }
        }).fail(function() {
            console.log("Error submitting points");
        });
    }


    {% for item in w2s_map %}
        //Create an event listener for a span object with id {{item.word}}
        document.getElementById("{{item.word}}").addEventListener("click", function() {
            //Get the value 
            var word_value = document.getElementById("{{item.word}}").innerText;
            //Add the word to the word list
            var wordlist = document.getElementById("wordlist");
            var word = document.createElement("span");
            word.innerHTML = word_value + "<br>";
            wordlist.appendChild(word);
            //Get the sentence value
            var sentence_value = document.getElementById("{{item.sentence}}").innerText;
            //Add the word and sentence to the vocabulary list
            vocabulary.push({word: word_value, sentence: sentence_value});
        });
    {% endfor %}

</script>
    

  </body>
</html>

