<!DOCTYPE html>
<html>
  
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{{ header|safe }}

<div class="container">
  
    <div class="row">
        <!--center the text-->
        <div class="col">
            <h1 class="text-center">Step 2: Review Vocabulary</h1>
            <br><br>
        </div>
    </div>
    <div class="row">
        <!--make the background here light grey-->
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="flashcard">
            
        </div>
        <!--make the background dark grey and all the text off-white-->
        <div class="col-3"></div>
    </div>
</div>

<script>

    //Create the global variable for vocabulary
    var vocabulary = {{vocabulary|safe}};

</script>
    

  </body>
</html>

