<!DOCTYPE html>
<html>

{{ header | safe}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Input</h1>
            <textarea id="input" rows="10" cols="60"></textarea>
        </div>
        <div class="col">
            <h1>Output</h1>
            <textarea id="output" rows="10" cols="60" readonly></textarea>
        </div>
    </div>
</div>

<script>
    var input_t = document.getElementById("input");
    var output_t = document.getElementById("output");
    input_t.addEventListener("input", function () {
        /*var x = input_t.value;
        var x_l = x.split("");
        var x_l_r = x_l.reverse();
        x = x_l_r.join("");
        output_t.value = x; */
        output_t.value = "We are currently upgrading this tool. Sorry for the inconvenience.";
    });
</script>
  </body>
</html>