<!DOCTYPE html>
<html>

<!-- bootstrap links -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<link rel="icon" href="https://www.pinclipart.com/picdir/big/1-13391_the-history-of-my-globe-with-flags-icon.png">
<meta name = "introduction" content = "no-reference"> 

<body style="background-color: #F4D03F;">
<title> Vitamova </title>

<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container">
    <div class="row">
    <div class="col col-lg-9">
      <a href="/" class="text-body"><h1 class="display-4">Vitamova</h1></a>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="learn_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/read">Read</a>
          <a class="dropdown-item" href="/write">Write</a>
          <a class="dropdown-item" href="/transcribe">Transcribe</a>
          <a class="dropdown-item" href="/flashcards">Flashcards</a>
        </div>
      </div>
    </div>
    <div class="col align-bottom">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="tools_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/accent">Accent Tool</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           {{transcribe_src|safe}}
        </div>
        <div class="col">
                <textarea id="transcription_i" rows="10" cols="40"></textarea>
        </div>
        <div class="col" style="background-color: white;">
            <div id="transcription_o"></div>
        </div>
    </div>
</div>
<script>
    const text = 'An obscure body in the S-K System, your majesty. The inhabitants refer to it as the planet Earth.';
    async function digestMessage(message) {
        const msgUint8 = new TextEncoder().encode(message);                           // encode as (utf-8) Uint8Array
        const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);           // hash the message
        const hashArray = Array.from(new Uint8Array(hashBuffer));                     // convert buffer to byte array
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
        return hashHex;
    }
    const digestHex = digestMessage(text);
    console.log(digestHex);

    var video_content = "{{video_content}}";
    var video_content_list = video_content.split(" ");

    var input_t = document.getElementById("transcription_i");
    var output_t = document.getElementById("transcription_o");
    
    var output_value = ""
    for (var i =0; i<video_content_list.length; i++) {
        output_value = output_value+"_____ "
        output_t.innerHTML = output_value
    }
    
    input_t.addEventListener("input", async function () {
        var x = input_t.value;
        var x_list = x.split(" ");
        output_value = "";
        for (var i=0; i < Math.min(video_content_list.length,x_list.length); i++) {
            var x_value = await digestMessage(x_list[i]);
            if (x_value === video_content_list[i]) {
                output_value = output_value + "<a style='color:green;'>"+x_list[i]+"</a> ";
            } else {
                output_value = output_value + "<a style='color:red;'>"+x_list[i]+"</a> ";
            }
        }
        
        if (video_content_list.length > x_list.length) {
            for (i=0; i<(video_content_list.length - x_list.length); i++) {
                output_value = output_value + "_____ ";
            }
        }
        
        output_t.innerHTML = output_value;
    });
    
</script>
  </body>
</html>